@using Microsoft.AspNetCore.Identity
@model IEnumerable<TeamMember>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Team Members";

    Message? message = ViewBag.Message;
    bool userIsAdmin = User.IsInRole("Admin");
}

<h1>Team Members</h1>

<partial name="../Partials/Message.cshtml" />
<p>
    <a class="btn btn-primary" asp-action="Create">+ Team Member</a>
</p>
<div class="container">
    <div class="row d-flex justify-content-center">
        @if (Model.Any())
        {
            foreach (var teamMember in Model)
            {
                <div class="col-2 card text-center">
                    <h4>@teamMember.FullName</h4>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a class="text-primary" asp-controller="TeamMembers" asp-action="Edit" asp-route-id="@teamMember.Id">Edit</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="text-info" asp-controller="TeamMembers" asp-action="Details" asp-route-id="@teamMember.Id">Details</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="text-danger" asp-controller="TeamMembers" asp-action="Delete" asp-route-id="@teamMember.Id">Terminate</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h4 class="text-danger">No team members created. <a asp-controller="TeamMembers" asp-action="Create">Create one now.</a></h4>
        }
    </div>
</div>